# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/

# Dependencies
node_modules/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Turbo
.turbo/

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Local env files
.env*.local
